//  ------------------------------
//    Background
//  ------------------------------
$background-image: '../images/bg.png' !default;

//  ------------------------------
//    Buttons
//  ------------------------------
$gradient-button-bs: 0 8px 25px -8px #aaa;

//  ------------------------------
//    Colors
//  ------------------------------
$primary : #02a77f !default;
$pure-black : #565656;
$nav-component-border-color: #ddd;
$custom-border-color: #E4E7ED;
$hover-color: #eee;

//  ------------------------------
//    Dropdown
//  ------------------------------
$dropdown-btn-padding-x: 1.5rem;
$dropdown-btn-padding-y: .85rem;
$dropdown-btn-split-padding-x: 1rem;

//  ------------------------------
//    Main Menu
//  ------------------------------
// vertical menu
$menu-expanded-width: 260px;
$menu-collapsed-width: 80px;

//  ------------------------------
//    Navbar
//  ------------------------------
$navbar-height: 4.3rem;

//  ------------------------------
//    Shadows
//  ------------------------------
$shadow: 0 2px 4px 0 rgba(0,0,0,.05);
$shadow-100: 0 3px 1px -2px rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 1px rgba(0,0,0,.05);
$shadow-150: 0 3px 1px -2px rgba(0,0,0,.065), 0 2px 2px 0 rgba(0,0,0,.065), 0 1px 5px 1px rgba(0,0,0,.065);
$shadow-180: 0 3px 1px -2px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 1px 5px 1px rgba(0,0,0,.08);
$shadow-200: 0 3px 1px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1), 0 1px 5px 1px rgba(0,0,0,.1);

//  ------------------------------
//    Table
//  ------------------------------
$table-td-height: 60px;

//  ------------------------------
//    VS Checkbox
//  ------------------------------
$vs-checkbox-radio-border-width: 2px;
$vs-checkbox-radio-border-color: #6c757d;
$vs-checkbox-box: 20px;
$vs-checkbox-box-sm: 15px;
$vs-checkbox-box-lg: 24px;
$vs-radio-box: 18px;
$vs-radio-box-sm: 13px;
$vs-radio-box-lg: 22px;