:root,
[data-bs-theme=light] {
  --bs-link-color-rgb: 05, 179, 132;
}

.btn-primary {
  --bs-btn-bg: #02a77f;
  --bs-btn-border-color: #02a77f;
  --bs-btn-hover-bg: #4ef09d;
  --bs-btn-hover-border-color: #4ef09d;
  --bs-btn-active-bg: #4ef09d;
  --bs-btn-active-border-color: #4ef09d;
  --bs-btn-disabled-bg: #02a77f;
  --bs-btn-disabled-border-color: #02a77f;
}

.btn-outline-primary {
  --bs-btn-color: #02a77f;
  --bs-btn-border-color: #02a77f;
  --bs-btn-hover-bg: #02a77f;
  --bs-btn-hover-border-color: #02a77f;
  --bs-btn-active-bg: #02a77f;
  --bs-btn-active-border-color: #02a77f;
  --bs-btn-disabled-color: #02a77f;
  --bs-btn-disabled-border-color: #02a77f;
}

.login-form a:focus, .login-form a:hover,
.signup-simple-template a:focus, .signup-simple-template a:hover,
.simple-login-form a:focus, .simple-login-form a:hover, a:hover, a:not(.btn):focus {
  color: #4ef09d !important;
}

a.btn:hover {
  background-color: #0000;
}

input[type="checkbox"] {
  accent-color: #02a77f;
}

.muze-dark-mode .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link.active, .muze-dark-mode
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #02a77f;
}

.small-box .icon > i {
  right: 15px;
}

.navbar-collapse {
  height: 100%;
}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
  font-size: large;
}

.nav-tabs.nav-tabs-line .nav-link.active {
  border-color: #4ef09d;
}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link[aria-expanded=true] {
  border-radius: 1rem;
  background-color: #4ef09d1f;
}

@media screen and (max-width: 479px) {
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item .nav-link,
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item > .collapse-box > .nav .nav-link {
    font-size: large;
  }
}
