:root,
[data-bs-theme=light] {
  --bs-link-color-rgb: 05, 179, 132;
}

.btn-primary {
  --bs-btn-bg: #02a77f;
  --bs-btn-border-color: #02a77f;
  --bs-btn-hover-bg: #4ef09d;
  --bs-btn-hover-border-color: #4ef09d;
  --bs-btn-active-bg: #4ef09d;
  --bs-btn-active-border-color: #4ef09d;
  --bs-btn-disabled-bg: #02a77f;
  --bs-btn-disabled-border-color: #02a77f;
}

.btn-outline-primary {
  --bs-btn-color: #02a77f;
  --bs-btn-border-color: #02a77f;
  --bs-btn-hover-bg: #02a77f;
  --bs-btn-hover-border-color: #02a77f;
  --bs-btn-active-bg: #02a77f;
  --bs-btn-active-border-color: #02a77f;
  --bs-btn-disabled-color: #02a77f;
  --bs-btn-disabled-border-color: #02a77f;
}

.login-form a:focus, .login-form a:hover,
.signup-simple-template a:focus, .signup-simple-template a:hover,
.simple-login-form a:focus, .simple-login-form a:hover, a:hover, a:not(.btn):focus {
  color: #4ef09d !important;
}

a.btn:hover {
  background-color: #0000;
}

input[type="checkbox"] {
  accent-color: #02a77f;
}

.muze-dark-mode .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link.active, .muze-dark-mode
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #02a77f;
}

.small-box .icon > i {
  right: 15px;
}

.logo-mini {
  width: 45px;
}

.navbar-collapse {
  height: 100%;
}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
  font-size: large;
}

.nav-tabs.nav-tabs-line .nav-link.active {
  border-color: #4ef09d;
}

.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-vertical.navbar-expand-lg .navbar-nav .nav-link[aria-expanded=true] {
  border-radius: 1rem;
  background-color: #4ef09d1f;
}

@media screen and (max-width: 479px) {
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item .nav-link,
  .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item > .collapse-box > .nav .nav-link {
    font-size: large;
  }
}

@media (min-width: 1400px) {
  .h6 {
    font-size: 10px;
  }
  .h5 {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .h6 {
    font-size: 10px;
  }
  .h5 {
    font-size: 12px;
  }
}

@media (min-width: 922px) {
  .h6 {
    font-size: 10px;
  }
  .h5 {
    font-size: 12px;
  }
}


@media (min-width: 768px) {
  .h6 {
    font-size: 10px;
  }
  .h5 {
    font-size: 12px;
  }
  .info-card {
    height: 4rem;
  }
}

@media (min-width: 576px) {
  .h6 {
    font-size: 10px;
  }
  .h5 {
    font-size: 12px;
  }
}

.text-success, .bg-success {
  color: rgb(80 168 146) !important;
}

.border-success-new {
  border-color: rgb(80 168 146) !important;
}

.bg-image {
  background-image: url(../../../images/circle.png);
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position: center;
}

.percent-full {
  background-image: url(../../../images/percent_full.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center;
}

.percent-null {
  background-image: url(../../../images/zero_percent.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center;
}

.calendar {
  background-image: url(../../../images/calendar.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center;
}

.breadcrumb {
  /*centering*/
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
  height: 3.7rem;
}

.breadcrumb div {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 20px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb div:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}

.breadcrumb div:first-child:before {
  left: 14px;
}

.breadcrumb div:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb div.active {
  background: rgb(80 168 146);
  color: black !important;
  margin-right: 0.8rem;
  margin-left: 2rem;
}

.breadcrumb div.active:last-child {
  margin-right: 0;
}

.breadcrumb div.active:first-child {
  margin-left: 0;
}

.breadcrumb div.active:after {
  background: rgb(80 168 146);
  box-shadow: none;
  right: -1.8rem;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb div:after {
  content: '';
  position: absolute;
  top: 0;
  right: -1rem; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 3.6rem;
  height: 3.6rem;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgb(0 0 0),
  3px -3px 0 2px rgb(255 255 255 / 25%);
  /*
      5px - for rounded arrows and
      50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.breadcrumb div:last-child:after {
  content: none;
}

/*we will use the :before element to show numbers*/
.breadcrumb div:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 30px;
  background: #4444447d;
  font-weight: bold;
}

.breadcrumbs {
  /*centering*/
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
}

.breadcrumbs div {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  /*need more margin on the left of links to accomodate the numbers*/
  position: relative;
}

.breadcrumbs div:after {
  content: '';
  position: absolute;
  top: 0;
  right: -0.5rem; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 2rem;
  height: 2rem;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  /*stylish arrow design using box shadow*/
  box-shadow: 0px 0px 0 0px rgb(0 0 0),
  inset -1px 1px 0px 1px rgb(94 94 94 / 25%);
  /*
      5px - for rounded arrows and
      50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}
@media screen and (min-width: 768px) {
  .header .navbar-brand img {
    max-width: 4.0625rem;
  }
}
