/* Variables */
@import 'muze-variables';
@import 'variables';

/* Bootstrap setup */
@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/variables';

/* FontAwesome */
$fa-font-path: "../fonts/fontawesome" !default;
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* Bootstrap core */
@import '~bootstrap/scss/bootstrap';

/* Bootstrap extends */
//@import 'bootstrap-extended';

/* Theme */
@import 'muze';

/* Components */
@import 'components';

/* SweetAlert2 */
@import "~sweetalert2/dist/sweetalert2.min.css";
@import '@sweetalert2/theme-dark/dark.scss';

//@import "datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";
/* Customize */
@import 'custom';
